body {
    padding: 2em;
    font-family: monospace;
}

button {
    display: block;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid grey;
    background: transparent;
    cursor: pointer;
    padding: 4px 8px;
}

button:hover {
    border-color: black;
}